@{
    ViewBag.Title = "Sobre";
}

<h1>Car Control</h1>
<h1></h1>
<p><h4>O Car-Control trata-se de um software destinado a controle de frotas, que tem como objetivo em oferecer aos usuários uma experiência diferenciada em termos de uso e praticidade. O Car-Control conta com uma interface interativa, desenvolvido na plataforma C# de forma a atender todas as necessidades que um sistema gerenciador de frotas necessita, tal serviço será oferecido pela D-Solutions que tem como responsabilidade oferecer soluções que vão desde o controle da frota até a usabilidade do operador. Um dos conceitos que mais influenciou o desenvolvimento das aplicações foi facilitar a experiência do usuário. Desta forma o ponto forte do Car-Control é cumprir todos os objetivos e requisitos estabelecidos inicialmente, visto que o mesmo foi desenvolvido e possui todas as funcionalidades essenciais, sendo possível que seja implementado novas funções. Ao desenvolver a aplicação houve preocupação constante em fazer com que o mesmo oferecesse interfaces intuitivas e de alta performance.</h4></p>
